.authorbox {
	margin-bottom: 25px;

	&__header {
		@extend .contentbox;
		display: flex;
		justify-content: space-between;
		margin-bottom: 0;
	}

	&__personal {
		text-align: center;
		width: 160px;		
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;		
	}

	&__url {
		color: $black;
		text-decoration: none;
		transition-duration: 0.2s;

		&:hover {
			color: $blue;
		}
	}

	&__avatar {
		margin: 0;
		width: 140px;
		height: 140px;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 auto 16px;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__name {
		@extend .headline;
		@extend .headline--secondary;
	}

	&__quickstats {
		flex: 1;
		padding: 0 0 0 20px;
	    display: flex;
	    // flex-direction: column;
	    justify-content: space-between;
	    flex-wrap: wrap;
	}

	&__quickstatscolumn {

		&:first-child {
			width: 41.5%;
		}

		&:nth-child(2) {
			width: 58.5%;	
		}		
	}

	.barchart {
		pointer-events: none;
		margin: 0 0 22px;
	}	

	&__actions {
		width: 100%;
	    display: flex;
	    align-items: flex-end;
	    justify-content: flex-end;	

	    .buttonbox {
	    	margin-left: 20px;
	    }
	}

	&__toggler {
		width: 180px;
	}

	&__body {
		background: $white;
		position: relative;
		height: 0;
		opacity: 0;
		overflow: hidden;
		transition-duration: 0.3s;
		padding: 0 20px;
		margin-top: -4px;			
		
		.is-expanded & {
			padding: 20px;		
			height: auto;
			opacity: 1;						
		}
	}

	&__timeline	{	
	}

	&__datestable {		
		th {
			text-align: center;
		}
	}	
}
