$gray--bg: #ebf6f8;
$gray--border: #dedede;
$gray--text: #999999;
$white: #ffffff;
$black: #000000;
$blue: #007be2;
$blue--bg: rgba(0, 123, 226, 0.06);
$red: #FC0018;
$yellow: #FFDB00;
$darkblue: #004680;
$green: #3cc737;

// Variables
$border-radius: 5px;
